<h1>New post</h1>

<form id="new-post" name="post">
  <div class="field">
    <input type="text" name="text" id="text" value="<%= text %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Post" />
  </div>

</form>

<a href="#!/index">Back</a>