html, body, #doc, #page-outer {
  height: 100%;
}
body {
  background-image: url(/assets/bg.png);
  background-position: left 40px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-color: #C0DEED; 
}
.wrapper {
  position: relative;
  width: 837px;
  min-height: 100%;
  padding: 54px 14px 15px;
  margin: 0 auto;
  background: url(/assets/wash-white-30.png);
}
.wrapper {
  padding-bottom: 0;
}
.dashboard {
  float: right;
  width: 302px;
}
.content-main {
  float: left;
  width: 522px;
}
.content-main, .content-narrow, .page-canvas, .permalink {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
form {
    margin-bottom: 0px;
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}
.global-nav {
  position: relative;
  width: 100%;
}
.global-nav, .global-nav-outer {
  height: 40px;
}
.global-nav {
  background-position: 0 0;
  background-color: #252525;
}
.global-nav, .global-nav .well, .btn-tweet, .btn-tweet:hover, .btn-tweet:active, .nav .active > a, .nav .open .dropdown-toggle, .form-search.has-saved-searches.focus, .tweet .actions {
  background-image: url(/assets/web_sprite_bgs.png);
  background-repeat: repeat-x;
}
.global-nav .container {
  width: 865px;
}
.nav {
  margin-right: 12px;
}
.nav, .nav > li {
  float: left;
}
.nav li {
  position: relative;
  display: inline;
}
.nav, .nav > li {
  float: left;
}
.nav .active a {
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}
.nav .active > a, .nav .active > a:hover, .nav .dropdown.open .dropdown-toggle, .form-search.has-saved-searches.focus {
  background-color: #222;
  -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, .5);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, .5);
}
.nav .active > a, .nav li a:hover {
  color: white;
  text-decoration: none;
}
.nav .active > a, .nav .open .dropdown-toggle, .form-search.has-saved-searches.focus {
  background-position: 0 -50px;
}
.nav > li > a {
  height: 12px;
}
.nav li > a {
  display: block;
  padding: 13px 12px 15px;
  font-weight: bold;
  line-height: 1;
}
.nav li a {
  position: relative;
  font-size: 12px;
  color: #BBB;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .75);
}
.nav .new-wrapper {
  position: relative;
  float: left;
}
.nav i {
  float: left;
  margin: -4px 6px 0 0;
}
.nav-home, .nav-topics, .nav-people, .nav-me, .nav-tweet {
  height: 22px;
}
i {
  background-image: url(/assets/web_sprite_icons.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-top;
}
.nav .nav-new {
  position: absolute;
  top: 26px;
  left: 50%;
  display: none;
  height: 3px;
  margin-left: -15px;
  line-height: 1;
  text-align: center;
}
.nav-new {
  background-position: -200px -50px;
  width: 24px;
  height: 3px;
}
.nav-home,.nav-topics,.nav-people,.nav-me,.nav-tweet{height:22px;}.nav-home{background-position:0 -50px;width:21px;}.nav-topics{background-position:-40px -50px;width:17px;}.nav-people{background-position:-80px -50px;width:21px;}.nav-me{background-position:-120px -50px;width:21px;}.nav-tweet{background-position:-160px -50px;width:22px;height:18px;}.nav-new{background-position:-200px -50px;width:24px;height:3px;}.topbar-divider{background-position:-240px -50px;width:2px;height:32px;}.nav-breaker{background-position:-260px -50px;width:18px;height:19px;}.global-nav a:hover .nav-home{background-position:0 -80px;}.global-nav a:hover .nav-topics{background-position:-40px -80px;}.global-nav a:hover .nav-people{background-position:-80px -80px;}.global-nav a:hover .nav-me,.global-nav .open .nav-me{background-position:-120px -80px;}.global-nav a:hover .nav-breaker{background-position:-260px -80px;}.active .nav-home,.active a:hover .nav-home{background-position:0 -110px;}.active .nav-topics,.active a:hover .nav-topics{background-position:-40px -110px;}.active .nav-people,.active a:hover .nav-people{background-position:-80px -110px;}.active .nav-me,.active a:hover .nav-me{background-position:-120px -110px;}