.clearfix:before,.clearfix:after,.control-group:before,.control-group:after,.stream-item>div:before,.stream-item>div:after,.module:after,.module:before,.follow-card header:after,.follow-card header:before,.follow-bar:after,.follow-bar:before,.search-header:after,.search-header:before,.tweet-form:after,.tweet-form:before,.modal-footer:after,.modal-footer:before,.local-trends-breadcrumb:after,.local-trends-breadcrumb:before,.input-prepend .add-on,.input-append .add-on,.wrapper:after,.wrapper:before,.expanded-content:before,.expanded-content:after,.stream-item:before,.stream-item:after{content:"";display:table;}.clearfix:after,.control-group:after,.stream-item>div:after,.module:after,.follow-card header:after,.follow-bar:after,.search-header:after,.tweet-form:after,.modal-footer:after,.local-trends-breadcrumb:after,.wrapper:after,.expanded-content:after,.stream-item:after{clear:both;}.clearfix,.control-group,.stream-item>div,.module,.follow-bar,.search-header,.tweet-form,.modal-footer,.local-trends,.local-trends-breadcrumb,.wrapper,.expanded-content,.stream-item{zoom:1;}
h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.stream-item, .unfocusable-stream-item {
  background: white;
  border-left: 1px solid #E8E8E8;
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid #E8E8E8;
  border-right: 1px solid rgba(0, 0, 0, .1);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.post {
  cursor: pointer;
}
.account, .list, .post, {
  position: relative;
  min-height: 51px;
  padding: 9px 12px 9px;
  border-bottom: 1px solid #E8E8E8;
}
.stream-item .content, .permalink-post .content {
  margin-left: 58px;
}
.post p {
  word-wrap: break-word;
}
.stream-item-header .account-group {
  color: #999;
}
.post .actions, .post .time {
  position: absolute;
  top: 9px;
  right: 12px;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.post .time {
  float: right;
  margin-top: 1px;
}

.username, .time, .time a, .metadata, .metadata a {
  font-size: 12px;
  color: #999;
}
.stream-item-header .avatar, .permalink-header .avatar {
  position: absolute;
  top: 12px;
  left: 12px;
}
.fullname {
  font-weight: bold;
  color: #333;
}
.username, .time, .time a, .metadata, .metadata a {
  font-size: 12px;
  color: #999;
}
s {
  text-decoration: none;
  filter: alpha(opacity=60);
  -moz-opacity: .6;
  opacity: .6;
}
b {
  font-weight: normal;
}
.username, .time, .time a, .metadata, .metadata a {
  font-size: 12px;
  color: #999;
}
.content-header {
  border-left: 1px solid #EEE;
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid #EEE;
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid #EEE;
  border-top: 1px solid rgba(0, 0, 0, .1);
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  .header-inner {
    min-height: 20px;
    padding: 12px;
    background-color: white;
    border-bottom: 1px solid #E8E8E8;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }
}

.stream-end {
  margin-bottom: 15px;
}
.stream-end, .stream-loading, .stream-placeholder {
  font-size: 13px;
  color: #777;
  text-align: center;
}
.stream-end-item, .stream-end, .stream-loading, .stream-placeholder {
  border-left: 1px solid #EEE;
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid #EEE;
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid #EEE;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.stream-end-inner {
  padding: 30px 50px;
  background-color: white;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.stream-end p, .stream-placeholder p {
  margin-top: 5px;
}
.mini-profile {
  font-size: 12px;
}
.module {
  text-shadow: 0 1px 0 white;
  border: 1px solid #EEE;
  border: 1px solid rgba(0, 0, 0, .1);
}
.module, .promptbird {
  position: relative;
  margin-bottom: 10px;
  line-height: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.module .flex-module {
  background-color: #F9F9F9;
  padding: 12px;
  line-height: 16px;
}
.profile-summary {
  cursor: pointer;
}
.profile-summary .account-summary {
  margin-bottom: 0;
}
.account-summary {
  position: relative;
  display: block;
  min-height: 48px;
}
.account-summary-small {
  min-height: 32px;
}
.account-summary-small .content {
  margin-left: 42px;
}

.account-summary .content {
  margin-left: 58px;
  margin-right: 20px;
}

.mini-profile .content {
  margin-left: 42px;
}
.dashboard .stats {
  background-color: #F9F9F9;
}

.stats {
  overflow: hidden;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}
ul.stats{
  margin:0;
}
.stats li {
  display: inline;
}
.stats li + li a {
  border-left: 1px solid #E8E8E8;
}
.stats a {
  float: left;
  padding: 7px 12px;
  color: #999;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
}
.stats a strong {
  display: block;
  color: #333;
  font-size: 14px;
}
.account-summary .avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.mini-profile img {
  float: left;
}
.avatar {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.size32 {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mini-profile .fullname {
  display: block;
  font-size: 14px;
  color: #333;
}
.account-summary .account-group-inner, .account-summary .metadata {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mini-profile .metadata {
  font-size: 11px;
}
.username, .time, .time a, .metadata, .metadata a {
  font-size: 12px;
  color: #999;
}
.module .post-box {
  line-height: 1;
}
.post-user {
  padding: 10px 12px;
  background-color: whiteSmoke;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.text-area {
  position: relative;
}
.post-box .twitter-anywhere-post-box-editor {
  padding: 6px 8px 5px;
  width: 482px;
  height: 56px;
  color: #222;
  font-size: 13px;
  line-height: 18px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.post-box textarea {
  resize: vertical;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 white;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 white;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 white;
}
.post-button-container {
  position: relative;
  text-align: right;
  margin: 5px 0 3px 0;
  height: 29px;
  z-index: 3;
}
.post-button-sub-container {
  display: inline-block;
}
.stream-end, .stream-loading, .stream-placeholder {
  font-size: 13px;
  color: #777;
  text-align: center;
}
.stream-end-item, .stream-end, .stream-loading, .stream-placeholder {
  border-left: 1px solid #EEE;
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid #EEE;
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid #EEE;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.stream-end-inner {
  padding: 30px 50px;
  background-color: white;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.spinner {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(/assets/loader.gif) center center no-repeat;
}