<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Segue</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="welcome">
  <div class="topbar">
    <div class="global-nav">
      <div class="global-nav-inner">
        <div class="container">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
      <div id="sign-in-container">
        <div id="sign-in-logo">
          <%= image_tag "/assets/socialite.png" %>
        </div>
        <p><a class="btn-auth btn-github large" href="/login">Sign in with <b>GitHub</b></a></p>
      </div>
    </div>
  </div>
</body>
</html>
